{% block subject %}Reset your password{% endblock %}
{% block html %}
    <div style="background:linear-gradient(-90deg, #02203c, #001528); font-family:Lexend,sans-serif; color: #ffffff; display: grid; grid-template-rows: 0.5fr 1fr 0.5fr; padding: 50px;">
        <div>
            <p style="justify-content: center; padding-bottom: 30px; color: #ffffff;"> Hi <strong style="font-size: 18px">{{ profile.first_name }}</strong></p>
            <p>
                There was a request to change your password.
            </p>
            <p>
                If you did not make this request, you can ignore this email. <br>
                Otherwise, please click the button below to change your password:
            </p>
        </div>

        <div style="justify-self: center; align-self: center; padding-top: 40px;">
            <a style="
               color: rgb(0, 21, 40);
               cursor: pointer;
               padding: 20px;
               border-radius: 10px;
               background-color: #f6f9fc;
               font-size: 15px;
               text-decoration: none;
               "
               href="{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
            >
                Reset Password
            </a>
        </div>

        <div style="padding-top: 60px; color: #ffffff;">
            <p>Best, <br> The MySimpleNotes Team</p>
        </div>
    </div>
{% endblock %}
