@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');


:root {
    --color-main: #1693DB;
    --color-text: #383a3f;
    --color-dark: #1f2124;
    --color-gray: #677;
    --color-bg: #f3f6f9;
    --color-light: #acb4bd;
    --color-lighter: #f9f9f9;
    --color-white: #fff;
    --color-border: #e0e3e6;
}

.dark {
    --color-main: #1693DB;
    --color-text: #d6d1d1;
    --color-dark: #f5f6f7;
    --color-gray: #999;
    --color-bg: #1f2124;
    --color-lighter: #292a2c;
    --color-white: #2e3235;
    --color-border: #252629;
}

::-webkit-scrollbar {
    width: 0.7em;
}

@media screen and (max-width: 640px) {
    ::-webkit-scrollbar {
        display: none;
    }
}

::-webkit-scrollbar-track {
    border-radius: 100vw;
    overflow-y: scroll
}

::-webkit-scrollbar-thumb {
    background: hsl(210 3% 68% / 1);
    border: .25em solid hsl(210 5% 25% / 1);
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(210 3% 68% / .8);
    border: .25em solid hsl(210 5% 25% / .8);
    border-radius: 100vw;
}


/* BASE STYLES */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    color: inherit;
    font-size: inherit;
    border-color: #1f2124;
    text-decoration: none;

    scroll-behavior: smooth;
}


body {
    line-height: 1.8em;
    font-weight: 400;
    font-size: 16px;
    background-color: #1f2124;
}

.Toastify__toast--error {
    border: 1px solid #EB5757;
    border-radius: 10px !important;
    background: #FAE1E2 !important;
}

.Toastify__toast--error::after {
    color: #333333;
    font-size: 15px;
    font-weight: 700;
    left: 265px;
    padding-top: 30px !important;
}

.Toastify__toast--error::before {
    z-index: 100000;
    left: 12px;
    top: 30px;
}

.Toastify__toast--success {
    border: 1px solid #3A9EA5 !important;
    border-radius: 20px !important;
    background: #F0F9FA !important;
}

.Toastify__toast--success::before {
    z-index: 100000;
    left: 12px;
    top: 6px;
}

.Toastify__toast--success::after {
    color: #333333;
    font-size: 15px;
    font-weight: 700;
    left: 265px;
    padding-top: 14px !important;
}

.Toastify__toast--warning {
    border: 1px solid #E78326 !important;
    border-radius: 20px !important;
    background: #FADFC5 !important;
}

.Toastify__toast--warning::before {
    z-index: 100000;
    left: 12px;
    top: 6px;
}

.Toastify__toast--warning::after {
    color: #E78326;
    font-size: 15px;
    font-weight: 700;
    left: 265px;
    padding-top: 14px !important;
}

.Toastify__toast-body {
    color: #444C63;
    font-size: 16px;
    padding-left: 20px;
    line-height: 20px;
    padding-top: 25px;
    width: 100%;
    font-weight: 400;
}

.Toastify__toast > button > svg {
    display: none;
}